.coinSearch {
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  width: 70vw;
  margin: auto;
  overflow: hidden;
}

.coinInput {
  background: var(--main-default-bg-color);
  padding: 1rem;
  outline: none;
  height: 100%;
  width: 100%;
  margin: 2rem 1rem;
  color: var(--main-default-text-color);
  /* border: 5px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, #711c91, #ea00d9); */
  border: solid 1px var(--main-secondary-text-color);
}
.coinInput:hover {
}
.coin_input::placeholder {
  color: var(--main-default-text-color);
}
