.navbar {
  background-color: var(--main-dark-bg-color);
  width: 100%;
  height: 7.5vh;

  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 15;
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.3));
}
.brand {
  /* margin: 1rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.5vh;

  height: 100%;
}
.brand > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0.5rem 0.75rem;
}
.brand > a > img {
  height: 100%;
}

.navbarLinks {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  gap: 1rem;
}
.navbarLinks > div > a {
  color: white;
}
