.tradeContainer {
  display: flex;
}
.innerContainer {
  background-color: var(--main-default-bg-color);
  max-width: 100%;
  padding: 1rem;
  display: block;
  max-width: 40rem;
  border: solid 1px var(--main-secondary-text-color);
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.15));
  text-align: center;
  margin: 5rem 1rem;
}
@media (min-width: 600px) {
  .innerContainer {
    width: 100%;
    margin: 5rem auto;
  }
}
.innerContainer > button {
  max-width: 20rem;
}
.innerContainer > h2 {
  margin-bottom: 2rem;
}
.innerContainer > h3 {
  margin: 1rem 3rem;
}

.goToLoginContainer {
  width: 100%;
  text-align: center;
}
.goToLoginContainer > p {
  margin-top: 25vh;
}
.redirectLink {
  text-decoration: underline;
  text-decoration-color: var(--main-accent-2-text-color);
}

/* INPUTS  */
.fromInput {
  max-width: 20rem;
  margin: 3rem auto;
}
.inputLabelAvailable {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
}
.label > p {
  color: var(--main-default-text-color);
  font-size: 0.8rem;
}
.availableBalance > p {
  color: var(--main-default-text-color);
  font-size: 0.8rem;
}
.availableBalance > p > span {
  color: var(--main-default-text-color);
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-left: 0.25rem;
}

.amountSymbolInput {
  display: flex;
  width: 100%;
  position: relative;
}
.amountSymbolInput > img {
  width: 30px;
  position: absolute;
  top: 0;
  left: 0;
  height: 4rem;
  width: 4rem;
  padding: 1rem;
}
.amountSymbolInput > input {
  width: 70%;
  padding: 1rem;
  padding-left: 4rem;
  height: 4rem;
  border: solid 1px var(--main-secondary-text-color);
  background-color: var(--main-default-bg-color);
  color: var(--main-default-text-color);
  border-right: none;
}
.amountSymbolInput > select {
  width: 30%;
  border: solid 1px var(--main-secondary-text-color);
  color: var(--main-default-text-color);
  background-color: var(--main-default-bg-color);
  overflow: hidden;
  z-index: 1;
  padding: 0.25rem;
}
