.coinContainer {
  background: var(--main-default-bg-color);
  height: 80px;
  border-bottom: 1px solid var(--main-default-text-color);
}
.coin_row {
  display: flex;
  height: 100%;
  padding: 0rem 1rem;
  transition: 300ms;
  background: var(--main-default-bg-color);
}

.coin_row:hover {
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.1));
  transition: 300ms;
}

.coin {
  display: flex;
  align-items: center;
}

.coin_data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.coin_img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin_h4 {
  width: 180px;
}

.coin_symbol {
  text-transform: uppercase;
  font-weight: 600;
  width: 100px;
}

.coin_price {
  text-align: center;
  width: 75px;
}

.coin_volume {
  width: 155px;
}

.coin_marketcap {
  width: 200px;
}

.coinPercent {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  color: #f00606;
}

.green {
  color: #13c783;
}
