.coin_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid var(--main-default-text-color);
  /* width: 85vw; */
  padding: 0rem 1rem;
  transition: 300ms;
  background: var(--main-default-bg-color);
}

.coin_row:hover {
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.1));
  transition: 300ms;
}

.coin {
  display: flex;
  align-items: center;
}

.coin_img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin_h4 {
  width: 200px;
  padding: 0.5rem;
  overflow: hidden;
}

.coin_symbol {
  text-transform: uppercase;
  font-weight: 600;
  width: 155px;
}

.coin_data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}

.coin_price {
  /* width: 100px; */
  padding: 0.5rem;
  overflow: hidden;
  text-align: center;
}

.coin_volume {
  padding: 0.5rem;
  width: 155px;
  overflow: hidden;
}

.coin_marketcap {
  padding: 0.5rem;
  width: 200px;
  overflow: hidden;
}

.coin_percent {
  /* padding: 0.5rem; */
  width: 100px;
  overflow: hidden;
}

.red {
  color: #f00606;
}

.green {
  color: #13c783;
}
