.dashboardLayoutWrapper {
  display: flex;
  align-items: flex-start;
  height: 100%;
  position: relative;
}
.sidenav {
  background-color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: solid 1px var(--main-secondary-bg-color);
  width: 15vw;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
}
.sidenavLink {
  border-bottom: solid 1px var(--main-secondary-bg-color);
  padding: 1.5rem 1rem;
  width: 15vw;
  text-align: center;
}
.sidenavLink > a {
  color: white;
}
.sidenavLink > a:hover {
  color: var(--main-accent-2-text-color);
}
