.formWrapper {
  padding: 0 1rem;
}
.form {
  width: 100%;
  max-width: 25rem;
  margin: 15vh auto;
  padding: 2rem 1rem;
  position: relative;
  border: solid 1px var(--main-secondary-text-color);

  background-color: var(--main-default-bg-color);
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.08));
}
.form > h2 {
  margin-bottom: 3rem;
  text-align: center;
}

.form > button {
  width: 100%;
  color: var(--main-default-text-color);
  border: solid 1px var(--main-accent-2-text-color);
  background-color: transparent;
  transition: 300ms;
  cursor: pointer;
  font-size: 1rem !important;
  padding: 10px !important;
  border-radius: 5px;
}
.form > button:hover {
  color: white !important;
  background-color: var(--main-accent-2-text-color);
  transition: 300ms;
}
@media (min-width: 600px) {
}
@media (min-width: 1200px) {
}

/* ##### COOL INPUT ANIMATIONS #### */

.input_field {
  position: relative;
  height: 44px;
  line-height: 44px;
  margin-bottom: 2.5rem;
}

.input_field > label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--main-default-text-color);
  transition: 0.2s all;
  cursor: text;
  font-size: 1rem;
}
.input_field > input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.1rem 0;
  border-bottom: 2px solid var(--main-default-text-color);
  box-shadow: none;
  color: var(--main-default-text-color);
  font-size: 1rem;
  background-color: var(--main-default-bg-color);
}
.input_field input:invalid {
  outline: 0;
}
.input_field input:focus,
.input_field input:valid {
  border-color: var(--main-accent-2-text-color);
}
.input_field input:focus ~ label,
.input_field input:valid ~ label {
  font-size: 1.15rem;
  top: -2rem;
  color: var(--main-accent-2-text-color);
}

.input_field textarea {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px var(--main-default-text-color);
  color: var(--main-default-text-color);
}
.input_field textarea:focus,
.input_field textarea:valid {
  border: none;
  color: var(--main-default-text-color);
  font-size: 1rem;
  outline: solid 2px var(--main-accent-2-text-color);
}
.input_field textarea:focus ~ label,
.input_field textarea:valid ~ label {
  font-size: 1.25rem;
  top: -2.5rem;
  color: var(--main-accent-2-text-color);
}

.redirectLink {
  text-decoration: underline;
  text-decoration-color: var(--main-accent-2-text-color);
}
